.container {
  padding-bottom: 0.25rem;
}

.label {
  display: block;
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--color-gray-5);
  margin-bottom: 0.5rem;
}

.buttonGroup {
  display: flex;
  gap: 1rem;
}
