/* src/app/globals.css */
:root {
  --color-primary: #2563eb;
  --color-primary-dark: #1447e6;
  --color-primary-light: #dbeafe;
  --color-primary-lighter: #eff6ff;
  --color-secondary: #16a34a;
  --color-secondary-dark: #008236;
  --color-secondary-light: #dcfce7;
  --color-secondary-lighter: #f0fdf4;
  --color-danger: #e7000b;
  --color-danger-dark: #c10007;
  --color-danger-light: #ffe2e2;
  --color-gray-1: #fbfbfb;
  --color-gray-2: #f7f7fd;
  --color-gray-3: #b3b3cc;
  --color-gray-4: #7f7f9f;
  --color-gray-5: #364153;
  --color-gray-6: #1e2939;
  --color-purple: #9810fa;
  --color-purple-dark: #7000c0;
  --color-purple-light: #f3e8ff;
}
