/* src/components/layout/Stack.module.css */
.stack {
  display: flex;
}

.horizontal {
  flex-direction: row;
}

.vertical {
  flex-direction: column;
}

.gap-sm {
  gap: 0.5rem;
}

.gap-md {
  gap: 1rem;
}

.gap-lg {
  gap: 1.5rem;
}
